@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>E-Ticaret Uygulaması</h1>
    <p class="lead">Sistem Analizi E-Ticaret Sistemi</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Korhan ÖZBEK</h2>
        <p>
            1030520189
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Muhammed Yunus GÜÇLÜ</h2>
        <p>1030515864</p>
        
    </div>
    <div class="col-md-4">
        <h2>Huriye YILDIRIM</h2>
        <p>1030515839</p>
       
    </div>
</div>